services:
  php:
    image: tugboatqa/php:7-apache
    default: true
    depends: mysql

    commands:
      init:
        # - docker-php-ext-install opcache
        - a2enmod headers rewrite
        - composer create-project drupal-composer/drupal-project:8.x-dev web --stability dev --no-interaction
        
      update: 
        
  mysql:
    image: tugboatqa/mysql:5
    commands:
      
        
